html {
    font-family: 'Roboto', sans-serif;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


header .logo,
.sub_logo {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-width: 100%;
}

header .logo {
    z-index: 1;
    height: 20vw;
    box-shadow: 0px 2px 4px 0px #00000026;
}

.sub_logo {
    height: 15vw;
}

.logo img {
    max-width: 197px;
}

.sub_logo {
    font-weight: 500;
    size: 16px;
    background-color: #EAEAEA;
}

.sub_logo span {
    margin-left: 1vw;
}

.hero {
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: #F6F6F6;
}

.hero h1,
.hero h3 {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.hero h1 {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    width: 275px;
    display: flex;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: black;
}

.hero h3 {
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    display: flex;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.btn {
    width: 236px;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    margin-top: 15px;
    margin-bottom: 40px;

}

.btn:hover {
    filter: brightness(1.25);
}

.functioning {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.functioning h1 {
    margin-top: 10vw;
    margin-bottom: 7vw;
}

.functioning h1,
.restaurants h1 {
    width: 85vw;
}

.functioning_item {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
    height: 73px;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin-left: 20px;
}

.functioning_item i {
    margin-bottom: 1px;
    font-size: 16px;
    padding-left: 30px;
}

.functioning_item span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}


.fa-func-color {
    color: #7E7E7E;
}

.fa-func-color2 {
    color: #9356DC;
}

.notification_badge {
    position:absolute;
    background-color: #9356DC;
    border-radius: 50px;
    color: white;
    padding: 3px 3px;
    font-size: 14px; 
    left: 0;
    width: 20px;
    text-align: center;
    margin-left:-15px;
  }

  .notification_badge span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0;
  }


.restaurants {
    background-color: #F6F6F6;
    min-height: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurants h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.restaurants_links {
    color: black !important;
    position: relative;
}

.new {
    position:absolute;
    background-color: #99E2D0;
    color: #008766;
    padding: 3px 3px;
    font-size: 14px; 
    top: 15px;
    right: 15px;
    width: 80px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: 0px 2px 4px 0px #00000026;

}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    height: 280px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;
}

.card_wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 20px;
}

.card_img {
    max-height: 70%;
    min-width: 100%;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_title {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.card_subtitle {
    width: 100%;
    font-size: 17px;
    font-weight: 300;
    margin-top: 5px;
}

.card_like {
    margin-right: 20px;
}

.card_like .fa-heart {
    font-size: 22px;
}

.fa-heart {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #353535;
    color: white;
    width: 100%;
    bottom: 0;
}

footer .logo {
    display: flex;
    max-width: 100%;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-left: 2.5em;
    margin-top: 7vw;
    margin-bottom: 2vw;
}

footer .logo img {
    max-width: 110px;
    filter: invert(1);
}

ul {
    list-style-type: none;
    margin-left: 2.5em;
}

footer ul {
    margin-bottom: 5vw;
}

footer ul li {
    margin-top: 2vw;
}

.footer_icons {
    padding-right: 3vw;
}

.footer_icons2 {
    padding-right: 1.8vw;
}

footer ul li,
a:link,
a:visited {
    text-decoration: none !important;
    color: white;
}

.hidden_footer {
    display: none;
}

.fa-heart:hover,
svg:hover, .active {
    background: rgb(177, 96, 219);
    background: linear-gradient(180deg, rgba(177, 96, 219, 1) 0%, rgba(226, 119, 220, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





/* Loader CSS */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
    animation: fadeOut 1.5s forwards;
    animation-delay: 1.5s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Show content after loader */
#content {
    display: hidden;
    animation: showContent 0s forwards;
    animation-delay: 3s;
}

@keyframes showContent {
    to {
        display: block;
    }
}








@media (min-width: 1024px) {

    header .logo {
        max-height: 96px;
    }

    header .sub_logo {
        max-height: 50px;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        max-height: 250px;
    }

    h1 {
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        justify-content: center;
    }

    h3 {
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        justify-content: center;
    }

    .functioning {
        display: flex;
        min-height: auto;
        margin-left: 20vw;
        margin-right: 20vw;
        justify-content: space-between;
    }

    .functioning h1 {
        display: flex;
        justify-content: flex-start;
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 27px;
        margin-left: -20px;
    }

    .functioning_item {
        width: 31%;
        margin-left: 0;
    }

    .functioning_item i {
        margin-right: 5px;
    }

    .restaurants {
        min-height: auto;
    }

    .restaurants h1 {
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        margin-left: 1vw;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100px;
        align-items: center;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .card_holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 100px;
        margin-left: 20vw;
        margin-right: 20vw;
        margin-bottom: 35px;
    }

    .restaurants_links {
        width: 100%;
    }

    .card {
        height: 14vw;
        width: 100%;
    }

    .card-img {
        max-height: 75%;
    }
    

    footer {
        flex-direction: row-reverse;
        align-items: center;
        height: 8vw;
    }

    footer .logo {
        width: auto;
        margin-left: 7vw;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 5vw;
    }

    footer ul {
        display: none;
    }

    .hidden_footer {
        display: flex;
    }

    .footer_icons {
        padding-right: 1vw;
    }

    footer a {
        padding-left: 1vw;
        font-weight: lighter !important;
    }

    footer .footer_bold {
        font-weight: 500 !important;
    }
}